* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.container {
    background-color: #88d8fd;
    margin-bottom: 10px;
}

.red {
    background-color: #e04e5a
}

.first {
    height: 73px;
}

.small {
    float: left;
    width: 58px;
    height: 63px;
    margin-right: 22px;
}

.small:last-child {
    float: right;
    margin: 0;
}

.second {
    padding: 55px 0;
}

.big {
    float: left;
    width: 140px;
    height: 103px;
    margin-right: 20px;
}

.big:last-child {
    margin-right: 0;
}

.third {
    padding: 10px
}

.inside {
    width: 918px;
    height: 245px;
    background-color: #e04e5a;
}
.green {
    float: left;
    width: 138px;
    height: 103px;
    margin: 10px;
    background-color: #4ee077;
}

.yellow {
    float: right;
    width: 116px;
    height: 226px;
    background-color: #e0cd4e;
    margin: 10px 10px 10px 0;
}

.purple {
    background-color: #8f4ee0;
}

.outside {
    position: fixed;
    top:230px;
    left: 0;
    width: 17px;
    height: 165px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 213px;
    width: 940px;
    height: 23px;
}